:root {
    --primary-color : hsl(183, 100%, 15%);
    --secondary-color: hsl(172, 67%, 45%);
    --bg-color: hsl(185, 41%, 84%);
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Space Mono"
}

body {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--bg-color);
    color: var(--primary-color);

    height: 100vh;
    margin: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin: auto;
    padding: 5px;
}

section {
    background-color: hsl(0, 100%, 100%);
    padding: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


h1 {
    font-size: 0.8rem;
    color: hsl(186, 14%, 43%);
}


.option {
    display: flex;
    flex-wrap: wrap;
}


/*
 * This is for input part
*/

.input {
    margin: 0 auto 20px;
}

input {
    width: 100%;
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5rem;

    padding: 6px 20px;
    border: none;
}

.replace {
    transform: translate(15px,-30px);
}


.optionalCase {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warning {
    color: red;
}

.invisible {
    display: none;
}

/* End of input part  */






/*
 * This is for personalTip part
*/
.personalTip {
    margin: -8px 0 18px 0;
}
button{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;

    background-color: var(--primary-color);
    color: hsl(0, 100%, 100%);

    border: none;
    border-radius: 5px;

    width: 100px;
    padding: 10px 20px;
    margin: 8px 16px;
    margin-left: 0;
    flex-grow: 1;
}

.custom{
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);

    padding: 0;
}

.custom input{
    padding-left: 0;
    font-size: 1.3rem;
}

.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: opacity 0.5s ease-in background-color 0.5s ease;
}

button:active {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 90%, 15%);
}

.active.disabled {
    opacity: 0.3;
}

/* End of personalTIp part  */






/*
 * This is for allResult Part
*/

.allResult {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    border-radius: 15px;
    padding: 40px 20px;
}

.allResult button {
    display: block;
    padding: 10px;
    width: 100%;
}
/* End of allResult part  */


/*
 * This is for twoSum part
*/

.twoSum {
    margin-bottom: 20px;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 0.8rem;
    color:hsl(189, 41%, 97%);
    margin-bottom: 10px;
}

.person {
    font-size: 0.7rem;
    color: hsl(186, 14%, 43%);
}


.value {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.dollar {
    color: hsl(1, 67%, 45%);
}


/* End of twoSum part  */


@media (min-width : 840px) {

    body {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .logo {
        padding: 0;
        margin: 0 0 20px;
    }
    section {
        display: flex;
        width: 850px;
        padding: 0;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .first-part {
        width: 412px;
        margin: 20px;
    }

    .allResult {
        width: 412px;
        margin: 20px;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
    }

    .sum {
        margin-bottom: 40px;
    }

    .value {
        font-size: 2.2rem;
    }

    .allResult button {
        flex-grow: 0;
    }
}